.youtube-container {
  background-color: #ff434b;
  height: 642px;
}

.youtube-container-headline {
  font-family: "cambay-regular";
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: white;
}
.youtube-container-header {
  font-family: "glacial-regular";
  font-size: 45px;
  text-align: center;
  color: white;
  line-height: 47px;
  margin-bottom: 187px;
  margin-top: 10px;
}
