.background {
  height: 884px;
}
.services {
  height: 884px;
}
.services_container {
  background-image: url("../images folder/bg\ shape.svg");
}
.main-text {
  font-family: "muli-bold";
  font-size: 80px;
  margin-bottom: 30px;
  line-height: 87px;
  width: 680px;
}

.main-text, .minor-text {
  color: #fff;
}
.minor-text {
  font-family: "muli";
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.send-message-comp3 {
  width: 180px;
  height: 58px;
  padding: 20px 30px;
  color: white;
  border: none;
  font-family: "muli";
  font-size: 12px;
  cursor: pointer;
}
