.file-container {
  height: 875px;
}

.file {
  margin-top: 130px;
}

.file-headline {
  font-family: "glacial-regular";
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 30px;
  margin-top: 70px;
}

.file-headline_content {
  font-family: "muli";
  font-size: 16px;
  line-height: 25px;
  color: #8b8b8b;
  margin-bottom: 70px;
}


.file_list {
  display: flex;
  align-items: center;
}

.fill_list_typography {
  font-family: "glacial-regular";
  font-weight: 200;
  font-size: 17px;
  color: #383838;
}

.headline_list {
  margin-bottom: 80px;
}


.container-lg {
width: 1208px;
}

.solutions-svg {
  margin-right: 18px;
}

.send-message {
  width: 181px;
  height: 51px;
}