.logo-container {
    height: 793px;
}

.logo-circle {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: black;
    padding-top: 114px;
}

.logo-container {
    display: flex;
    height: 200px;
    align-items: center;    
    margin-top: 114px;
    margin-bottom: 30px;
}


.logo-author {
    font-family: 'glacial-regular';
    font-size: 26px;
    line-height: 27px;
    color: #303030;
    margin-bottom: 20px;
}

.company-name {
    font-family: 'muli';
    font-size: 14px;
    line-height: 27px;
    color: #C4C4C4;
}

.logo-paragraph {
    font-family: 'muli-bold-italic';
    font-size: 17px;
    line-height: 27px;
    color: #8D8D8D;
    margin-bottom: 170px;
}


.logos {
}