.box {
  width: 362px;
  height: 375px;
}

.boxes_container {
  margin-top: 60px;
  margin-bottom: 90px;
}

.box1,
.box2,
.box3 {
  padding: 25px;
  background-color: #edf7ff;
}

.text {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: "glacial-regular";
}

.box-text {
  color: black;
  margin-bottom: 15px;
}

.button-services_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  
}

.services-section {
  margin-top: 140px;
  margin-bottom: 140px;

}
