.feedback-section {
  background-color: #edf7ff;
}

.feedback-section_first,
.feedback-section_second {
  width: 550px;
  margin-top: 113px;
  margin-bottom: 100px;
}



.cell {
  height: 88px;
  width: 111px;
  background-color: blue;
  margin-right: 32px;
}

.author-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feedback-section-headline {
  font-size: 36px;
  line-height: 40px;
  font-family: "glacial-bold";
  margin-bottom: 30px;
}

.feedback-section-flex {
  display: flex;
  justify-content: space-between;
}

.feedback-section-paragraph {
  font-family: "muli";
  font-size: 16px;
  margin-bottom: 23px;
  line-height: 26px;
}

.author {
  margin-bottom: 5px;
  font-family: 'glacial-regular';
  font-size: 19px;
  line-height: 25px;
}

.co-author {
  font-family: "glacial-regular";
  font-size: 14px;
  color: #7e7e7e;
}

.range-indicator {
  font-size: 16px;
  font-family: 'glacial-regular';
}



input[type="range"] {
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}

#backend_developer {
  margin-bottom: 23px;
}


.range {
  width: 547px;
  height: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.pink-part {
  height: 100%;
  width: 76%;
  background-color: #ee3364;
}
.backend-development {
  margin-bottom: 18px;
  font-size: 16px;
}

.percentage {
  font-size: 18px;
}