.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


svg:not(:last-child) {
  margin-right: 24px;
}

svg {
  cursor: pointer;
}

.contact-info {
  background-color: #220d29;
  height: 50px;
  font-family: "muli";
  font-size: 16px;
  color: #ffffff;
}

.phone-section {
  margin-left: 80px;
}
