.background {
  height: 884px;
}

.main-text {
  font-family: "glacial-bold";
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
}

.services_container {
  background-color: blueviolet;
}

.minor-text {
  font-family: "muli";
  font-size: 20px;
  margin-bottom: 50px;
  color: white;
}

button {
  padding: 20px 30px;
  background-color: #ee3364;
  text-transform: uppercase;
  color: white;
  border: none;
  font-family: "muli";
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
