.full-container {
  width: 1920px;
  padding-left: 35px;
  background-color: #F2F2F2;
}

.mini-container {
  width: 810px;
}

.space-man-headline {
  font-family: "glacial-regular";
  font-size: 50px;
  line-height: 50px;
}

.colorful-headline {
  color: #ee3364;
}

.space-man-paragraph {
  font-family: "muli";
  font-size: 17px;
  line-height: 28px;
  color: #2e2e2e;
}


#consultings, #name, #phone-number, button  {
  height: 54px;
  width: 350px;
  background-color: #cacaca;
  font-family: "muli";
  font-size: 13px;
  padding-left: 30px;
}

#name {
  background-color: #fff;
}

#consultings {
margin-right: 10px;
margin-bottom: 10px;
}

button {
  background-color: #ee3364;
  margin-left: 10px;
  margin-top: 10px
}


.space-man-img {
}