.full-container {
  width: 1920px;
  margin-left: 35px;
}

.mini-container {
  width: 810px;
}

.space-man-headline {
  font-family: "glacial-regular";
  font-size: 50px;
  line-height: 50px;
}

.colorful-headline {
  color: #ee3364;
}

.space-man-paragraph {
  font-family: "muli";
  font-size: 17px;
  line-height: 28px;
  color: #2e2e2e;
}

#consultings,  {
  height: 54px;
  width: 350px;
  background-color: #cacaca;
  font-family: "muli";
  font-size: 13px;
  padding-left: 30px;
}
