.youtube-container-footer {
  height: 310px;
  background-color: #1b1b1b;
}

.common-container {
  display: flex;
  align-items: center;
}

.quantity {
  font-family: "glacial-regular";
  font-size: 57px;
  color: #ffffff;
  margin-right: 170px;
}

.task-completed {
  font-family: "glacial-regular";
  font-size: 24px;
  color: #cfcfcf;
  margin-bottom: 22px;
}

.svg-container {
  margin-right: 28px;
}

.youtube-footer-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.youtube-container-circle {
  width: 113px;
  height: 113px;
  background-color: #2d2c2c;
  border-radius: 50%;
  position: relative;
}

.footer-icon {
  color: #FF434B;
}
