.navigation {
  height: 95px;
  font-family: "muli-bold";
  font-weight: bold;
  font-size: 18px;
}

.navigation_container {
  background-color: #230e59;
}

.navigation_list {
  margin-left: 270px;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation li {
  margin-right: 41px;
}

.navigation_link {
  text-decoration: none;
  font-family: "muli";
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  color: white;
}
