.box {
  width: 362px;
  height: 292px;
  padding: 25px;
  background-color: #edf7ff;
}

.boxes_container {
  margin-top: 60px;
  margin-bottom: 90px;
}


.text {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: "glacial-regular";
}

.box-text {
  color: #2e2e2e;
  margin-bottom: 15px;
  font-family: "glacial-regular";
  font-size: 25px;
  line-height: 30px;
  margin-top: 5px;
}

.box-subtext {
  font-family: "muli";
  line-height: 24px;
  color: #838383;
}

.button-services_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.services-section {
  margin-top: 140px;
  margin-bottom: 140px;
}

.circle {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #ffffff;
}

.box:hover > .circle {
  background-color: #ee3364;
}


.box:hover {
  border: 2px solid #ee3364;
}