.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

svg:not(:last-child) {
  margin-right: 24px;
}

.media-icons {
}

.contact-info {
  background-color: #220d29;
  height: 50px;
  font-family: "muli";
  font-size: 16px;
  color: #ffffff;
}

.phone-section {
  margin-left: 80px;
}
